<!--
  Step 1: This page must allow the user to edit an existing resource.
-->

<%- include ('../partials/header') %>

<div class="container my-5">
    <header>
        <h1>Edit <%= formData.title%></h1>
    </header>
    <hr>

    <div>
        <%- include('./_form', { actionPath: '/climbingroutes/update'})%>
    </div>
</div>

<%- include ('../partials/footer') %>