html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./climbing-2264698_1920.jpg');
  background-attachment: fixed;  
  background-size: cover;
  color: #fff;
}

header:not(.home-cta), .alert {
  margin-bottom: 0;
}

h1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Home page */
.home-cta > h1, h4 {
  color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 7rem;
  text-align: center;
  z-index: 1;
}

.home-cta > h4 {
  color: lightgray;
  top: 40%;
  font-size: 3.5rem;
  z-index: 2;
}

/* Inline form for edit and delete button */
.form-inline {
  display: inline-block;
}

button.delete {
  color: #007bff;
  border-width: 0;
  background: none;
  padding: 0;
  margin: 0 10px 0 10px;
}

button.delete:hover{
  color: #0056b3;
}

/* a:hover {
  text-decoration: none;
} */

/* Button to go to the top of the page */
#topBtn {  
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}

/* Start Rating */
.checked {
  color: orange;
}